<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpashev.contacts2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Equation Calculator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Contacts2">
        <activity
            android:name="calculator.equationCalc.ViewDelete"
            android:exported="true" />
        <activity
            android:name="calculator.equationCalc.DBActivity"
            android:exported="true" />
        <activity
            android:name="calculator.equationCalc.listview"
            android:exported="true" />
        <activity
            android:name="calculator.equationCalc.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="calculator.equationCalc.ViewDelete"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>